name: Publish

on:
  workflow_call:
    inputs:
      fetch-submodules:
        type: boolean
        description: 'Whether to fetch submodules'
        required: false
        default: false
      node-version:
        type: string
        description: 'Node.js version'
        required: false

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    concurrency:
      group: publish-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Setup
        uses: cordiverse/workflows/.github/actions/setup@main
        with:
          fetch-submodules: ${{ inputs.fetch-submodules }}
          node-version: ${{ inputs.node-version }}

      - name: Build
        run: yarn build

      - name: Set Publish Config
        run: |
          yarn config set npmPublishProvenance true
          yarn config set npmRegistryServer https://registry.npmjs.org/

      - name: Publish
        run: yarn pub --debug
